.wrapper-bottom {
    background-color: $wrapper-bottom-bg;
    z-index: 10;
    background-image: url(../image/bg-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}

.wrapp-main {
    width: 940px;
    position: relative;
    top: -20px;
    margin: 0 auto;
    background-image: -webkit-linear-gradient(90deg, white 0%, #f6f7f9 100%);
    background-image: -moz-linear-gradient(90deg, white 0%, #f6f7f9 100%);
    background-image: -ms-linear-gradient(90deg, white 0%, #f6f7f9 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.main {
    border: 3px solid #e6e6e6;
}

.shadow-left {
    width: 68%;
    float: left;
    background-image: -webkit-linear-gradient(90deg, #e6e6e6 0%, white 50%);
    background-image: -moz-linear-gradient(90deg, #e6e6e6 0%, white 50%);
    background-image: -ms-linear-gradient(90deg, #e6e6e6 0%, white 50%);
}

.left-content {
    width: 29%;
    float: left;
    position: relative;
    z-index: 2;
    margin: 0;
}

.nav-list {
    list-style: none;
    padding: 15px 0 0 0;
}

.main-nav {
    font-size: 18px;
    font-weight: bold;
    color: #964415;
    display: block;
    line-height: 2;
    padding-left: 20px;
}

.main-nav:hover {
    color: #fff;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 1%, rgba(0, 0, 0, 0.65) 56%, rgba(0, 0, 0, 0.01) 99%, transparent 100%, transparent 101%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 1%, rgba(0, 0, 0, 0.65) 56%, rgba(0, 0, 0, 0.01) 99%, transparent 100%, transparent 101%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 1%, rgba(0, 0, 0, 0.65) 56%, rgba(0, 0, 0, 0.01) 99%, transparent 100%, transparent 101%);
}

.nav-position {
    position: relative;
}

.nav__arrow-right::after {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-left: 10px solid #6d686f;
    top: 13px;
    right: 13px;
}

.dropdown-nav {
    list-style: none;
    display: none;
    position: absolute;
    right: -179px;
    top: 0;
    width: 179px;
    height: 210px;
    background-image: -moz-linear-gradient(90deg, #6d686f 0%, #7c777e 100%);
    background-image: -webkit-linear-gradient(90deg, #6d686f 0%, #7c777e 100%);
    background-image: -ms-linear-gradient(90deg, #6d686f 0%, #7c777e 100%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
}

.dropdown-nav li {
    border-bottom: 1px solid #a39fa4;
    margin: 0 10px;
}

.dropdown-nav li:last-child {
    border: none;
}

.dropdown-link {
    color: white;
    text-align: left;
    padding: 12px 0;
    box-sizing: border-box;
    display: block;
}

.nav-position:hover {
    .dropdown-nav {
        display: block;
    }
}

.nav__hamburger-menu {
    display: block;
}

.center-content {
    width: 70%;
    border-right: 3px solid #e6e6e6;
    border-left: 3px solid #e6e6e6;
    float: left;
    padding-bottom: 50px;
    background-image: url(../image/bg-center-content.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapp-text-block {
    margin: 30px 40px;
}

.head-text {
    font-size: 30px;
    font-family: "Georgia";
    color: #454545;
    margin-bottom: 25px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.content-text {
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
}

.content-text_opt {
    color: #964415;
    font-weight: bold;
    display: block;
    font-size: 15px;
    margin: 25px 0 0 0;
}

.more-info {
    width: 80%;
    margin: 0 auto;
    border: 3px solid #e6e6e6;
    height: 84px;
    text-align: center;
}

.more-info-btn {
    display: block;
    width: 85%;
    margin: 6% auto;
    font-size: 18px;
    padding: 10px 0;
    color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #fff;
    background-image: -webkit-linear-gradient(90deg, #9e8250 0%, #e8bf76 100%);
    background-image: -moz-linear-gradient(90deg, #9e8250 0%, #e8bf76 100%);
    background-image: -ms-linear-gradient(90deg, #9e8250 0%, #e8bf76 100%);
}

.news {
    width: 30%;
    padding: 20px 15px 0 15px;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.news-block {
    margin-bottom: 20px;
}

.news-img {
    border: 3px solid #e6e6e6;
    float: left;
    margin-right: 15px;
}

.news-text {
    font-size: 13px;
    color: #964415;
    line-height: 1.231;
    text-align: left;
}

.news-text_color {
    color: #666666;
    margin-left: 85px;
    line-height: 2;
}

.more-news-link {
    font-weight: bold;
    color: #964415;
    float: right;
    margin-right: 50px;
}

.tab {
    display: block;
    z-index: -1;
    width: 60px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #323332;
    text-align: center;
    padding-top: 8px;
    position: absolute;
    top: -35px;
    right: 215px;
    background-image: -webkit-linear-gradient(90deg, gray 0%, white 100%);
    background-image: -moz-linear-gradient(90deg, gray 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, gray 0%, white 100%);
}

.active {
    display: block;
    z-index: 10;
    background-image: -moz-linear-gradient(90deg, #f6f7f9 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #f6f7f9 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #f6f7f9 0%, white 100%);
    .tab {
        display: block;
        z-index: -1;
        width: 60px;
        height: 30px;
        font-size: 15px;
        font-weight: bold;
        color: #323332;
        text-align: center;
        padding-top: 8px;
        position: absolute;
        top: -35px;
        right: 215px;
        background-image: -webkit-linear-gradient(90deg, gray 0%, white 100%);
        background-image: -moz-linear-gradient(90deg, gray 0%, white 100%);
        background-image: -ms-linear-gradient(90deg, gray 0%, white 100%);
    }
}

.tab:hover {
    z-index: 10;
    background-image: -moz-linear-gradient(90deg, #f6f7f9 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #f6f7f9 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #f6f7f9 0%, white 100%);
}

.tab-middle {
    width: 70px;
    right: 140px;
}

.tab-right {
    width: 100px;
    right: 35px;
}

::selection {
    background-image: -webkit-linear-gradient(90deg, gray 0%, white 100%);
    background-image: -moz-linear-gradient(90deg, gray 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, gray 0%, white 100%);
}

.tabbed > input {
    display: none;
}

.tabbed > label {
    display: block;
    float: left;
    cursor: pointer;
    transition: background-color .3s;
    position: absolute;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
    background-image: -moz-linear-gradient(90deg, #f6f7f9 0%, white 100%);
    background-image: -webkit-linear-gradient(90deg, #f6f7f9 0%, white 100%);
    background-image: -ms-linear-gradient(90deg, #f6f7f9 0%, white 100%);
}

.tabs >article {
    width: 30%;
    position: absolute;
    border: 2px solid #4EC6DE;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
}

#tab-nav-1:checked ~ .tabs > article:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > article:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > article:nth-of-type(3) {
    transform: rotateX(0deg);
    opacity: 1;
    z-index: 1;
}