* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: $font-family;
    font-size: $font-size;
}

footer {
    a:hover {
        color: #fff;
    }
}

.clearfix:after,
.wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}