 
    .footer {
        background-image: url(../image/bg-footer.png);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
    .colums {
        float: left;
        padding: 20px 32px;
        border-right: 1px solid #a5afaf;
        height: 158px;
    }
    
    .foot-list {
        list-style: none;
    }
    
    .foot-item {
        margin-bottom: 10px;
    }
    
    .foot-link {
        color: #737468;
        font-size: 13px;
    }
    
    .foot-link-head {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
    }
    
    .text-order {
        color: #dbdbdb;
        text-align: center;
        padding-bottom: 170px;
    }
    
    .colum-border {
        border: none;
    }