.wrapper-top {
        background-color: #d6d6d6;
        background-image: url(../image/bg-top.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .header {
        background-color: rgba(221, 221, 222, 0.9);
        z-index: 10;
        width: 100%;
        float: left;
        position: absolute;
    }
    
    .top-size {
        max-width: 1040px;
        margin: 0 auto;
    }
    
    .logo {
        margin: 20px 0 20px 40px;
        float: left;
    }
    
    .wrapp-top-right {
        float: right;
        margin: 30px 40px 30px 0;
    }
    
    .nav {
        float: left;
        padding-top: 5px;
    }
    
    .nav-link {
        color: rgb(119, 69, 32);
        line-height: 1.5;
        text-align: left;
        border-right: 1px solid #808080;
        padding-right: 10px;
    }
    
    .nav-link_opt {
        border-right: none;
    }
    
    .search {
        float: left;
        position: relative;
    }
    
    .inp-search {
        border: 1px solid #fff;
        height: 31px;
        width: 200px;
        padding: 0 65px 0 10px;
        box-shadow: inset 7px 7px 11px -7px rgba(0, 0, 0, 0.4);
    }
    
    .inp-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 31px;
        width: 60px;
        color: #fff;
        font-size: 13px;
        border: 1px solid #b64301;
        background-image: -moz-linear-gradient(90deg, #6d2d09 0%, #964415 100%);
        background-image: -webkit-linear-gradient(90deg, #6d2d09 0%, #964415 100%);
        background-image: -ms-linear-gradient(90deg, #6d2d09 0%, #964415 100%);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    }