@media(max-width:1045px) {
    .wrapp-top-right {
        margin: 30px 5% 30px 0;
    }
    .logo {
        margin: 20px 0 20px 5%;
    }
    .slider {
        width: 100%;
        display: block;
    }
}

@media(max-width:992px) {
    .wrapp-main {
        width: 90%;
    }
    .shadow-left {
        width: 60%;
        position: relative;
        z-index: 2;
        margin: 0;
    }
    .left-content {
        display: none;
        position: absolute;
    }
    .wrapp-text-block {
        text-align: center;
    }
    .center-content {
        width: 100%;
        border-left: none;
    }
    .news {
        width: 40%;
        float: left;
    }
    .more-info-btn {
        margin: 10px auto;
        font-size: 14px;
    }
    .more-info {
        height: auto;
    }
    .nav__hamburger-menu:before {
        content: "\2261";
        font: 25px "arial";
        color: black;
        padding-left: 20px;
        cursor: pointer;
        position: relative;
    }
    .nav__hamburger-menu:hover {
        .left-content {
            display: block;
            width: 185px;
            background-image: -moz-linear-gradient( 90deg, rgb(109, 104, 111) 0%, rgb(124, 119, 126) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(109, 104, 111) 0%, rgb(124, 119, 126) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(109, 104, 111) 0%, rgb(124, 119, 126) 100%);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
            .main-nav {
                color: #fff;
            }
            .nav__arrow-right::after {
                border-left: 10px solid #fff;
            }
        }
    }
    .colums {
        padding: 30px 1.1%;
        width: 17.6%;
        text-align: center;
    }
}

@media(max-width:768px) {
    .header {
        position: static;
        width: auto;
        float: none;
    }
    .slider-img {
        height: 320px;
        width: 100%;
    }
    .wrapper-top {
        background: none;
    }
    .news {
        width: 100%;
    }
    .shadow-left {
        width: 100%;
    }
    .center-content {
        padding-bottom: 20px;
        background-size: contain;
        background-position: 50%;
    }
    .head-text {
        font-size: 25px;
    }
    .content-text {
        font-size: 14px;
    }
    .more-info-btn,
    .content-text_opt {
        font-size: 12px;
    }
    .more-news-link {
        padding-bottom: 20px;
    }
    .wrapp-top-right {
        float: none;
        margin: 0;
        display: block;
    }
    .logo {
        display: block;
        margin: 0 auto;
        float: none;
        padding: 25px 0;
    }
    .nav {
        float: none;
        text-align: center;
    }
    .search {
        float: none;
        padding: 20px 0;
        text-align: center;
    }
    .inp-search {
        width: 170px;
        padding-right: 0;
    }
    .inp-btn {
        right: auto;
        top: auto;
    }
    .lion {
        top: auto;
        left: 5px;
    }
    .william {
        top: 50px;
        left: 5px;
    }
    .slide-head {
        font-size: 18px;
    }
    .slide-text {
        font-size: 12px;
    }
    .colums {
        padding: 0;
        text-align: center;
        border-right: none;
        float: none;
        margin-top: 10px;
        border-bottom: 1px solid #a5afaf;
        height: auto;
        width: 100%;
    }
}

@media(min-width:320px) {
    .dropdown-nav {
        right: -100px;
    }
}

@media(min-width:425px) {
    .dropdown-nav {
        right: -179px;
    }
}