.slick-prev,
.slick-next {
    top: 143px;
}

.slick-prev {
    right: 140px;
    left: auto;
    z-index: 100;
}

.slick-next {
    right: 30px;
}

.slick-prev:before {
    content: url(../image/left.png);
}

.slick-next:before {
    content: url(../image/right.png);
}

.slick-prev:before,
.slick-next:before {
    color: #e6c691;
}

.slick-dotted.slick-slider {
    margin-bottom: -3px;
}

.slick-dots {
    top: 130px;
    right: 50px;
    bottom: auto;
    text-align: right;
    width: auto;
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active button:before {
    color: transparent;
    opacity: 1;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 90deg, rgb(220, 181, 112) 0%, rgb(255, 243, 235) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(220, 181, 112) 0%, rgb(255, 243, 235) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(220, 181, 112) 0%, rgb(255, 243, 235) 100%);
    box-shadow: none;
}

.slick-dots li button:before {
    border-radius: 50%;
    color: transparent;
    background-image: -moz-linear-gradient( 90deg, rgb(195, 179, 127) 0%, rgb(194, 196, 175) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(195, 179, 127) 0%, rgb(194, 196, 175) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(195, 179, 127) 0%, rgb(194, 196, 175) 100%);
    opacity: 0.8;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

@media(max-width:768px) {
    .slick-dots {
        top: 38px;
    }
    .slick-prev,
    .slick-next {
        top: 50px;
    }
    .slide-text-block {
        right: 0;
        padding-right: 5px;
        top: 90px;
        width: auto;
        width: 309px
    }
}