   
    .slider {
        z-index: 1;
        margin: -3px auto;
        width: 1040px;
    }
    
    .slider-img {
        height: 520px;
    }
    
    .slide-item {
        position: relative;
    }
    
    .slide-text-block {
        color: #fff;
        position: absolute;
        width: 510px;
        right: 55px;
        top: 200px;
        z-index: 100;
    }
    
    .slide-head {
        font-family: "Georgia";
        font-style: italic;
        font-size: 30px;
        text-align: left;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    }
    
    .slide-text {
        font-size: 15px;
        color: rgb(242, 242, 242);
        text-align: left;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
    }
    
    .r-simbvol {
        position: relative;
        top: -10px;
    }
    
    .lion {
        left: 45px;
        top: auto;
        bottom: 104px;
        width: 493px;
    }
    
    .william {
        top: 150px;
        left: 47px;
        width: 410px;
    }